#header-sidenav-smalldevice
  padding 64px 0 0 0
  width auto
  height inherit
  max-width 15rem
  background-color #34495e

  .connexion
    text-align center

  .material-icons.big
    font-size 800%