<div id="header-sidenav-smalldevice" class="side-nav">
  <div class="row">

    <app-nav-icon [route]="'/stories' + (edService.edMode ? '/edit' : '')" [icon]="'line_weight'" [span]="'Stories'"></app-nav-icon>

    <app-nav-icon [route]="'/genealogy' + (edService.edMode ? '/edit' : '')" [icon]="'supervisor_account'" [span]="'Genealogy'"></app-nav-icon>

    <app-nav-icon [route]="'/games' + (edService.edMode ? '/edit' : '')" [icon]="'games'" [span]="'Games'"></app-nav-icon>

    <app-nav-icon [route]="'/cards' + (edService.edMode ? '/edit' : '')" [icon]="'dashboard'" [span]="'Cards'"></app-nav-icon>

    <app-nav-icon [route]="'/drawings' + (edService.edMode ? '/edit' : '')" [icon]="'brush'" [span]="'Drawings'"></app-nav-icon>

    <app-nav-icon [route]="'/shop' + (edService.edMode ? '/edit' : '')" [icon]="'shopping_cart'" [span]="'Shop'"></app-nav-icon>

  </div>
</div>