<section *ngIf="getAnswerType() == 'string'">
  <h3>{{ getStatTitle() }}</h3>
  <div class="white-fram"> <!-- cadre blanc -->
    <div class="flex-container">
      <div class="big-blue-synthesis">
        <span>{{ getQuantityAnswers() }}</span>
        réponses à cette question
      </div>
      <div class="percent-of-pros">
        <span>{{ getQuantityAnswers() * 100 / getTotalOfAnswers() }}</span>
        % des professionels ont répondu
      </div>
      <div class="collapse">{{ question.question }}<br>
        <span>Voici les différentes réponses reçues : </span>
        <div *ngFor="let reponse of infographic.answers">
          <span>{{ reponse.proName }}, from {{ reponse.country }}, said : << {{ getAnswerToQuestion(reponse) }} >></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="getAnswerType() == 'number'">
  <h3>{{ getStatTitle() }}</h3>
  <div class="white-fram"> <!-- cadre blanc -->
    <div class="flex-container">
      <div class="big-blue-synthesis">
        <span>{{ getMoyenneOfAnswers() }}</span>
        de moyenne
      </div>
      <div class="percent-of-pros">
        <span>{{ getQuantityAnswers() * 100 / getTotalOfAnswers() }}</span>
        % des professionels ont répondu
      </div>
      <div class="collapse">{{ question.question }}<br>
        <span>Voici les différentes réponses reçues : </span>
        <div *ngFor="let reponse of infographic.answers">
          <span>{{ reponse.proName }}, from {{ reponse.country }}, à donné la note de : {{ getAnswerToQuestion(reponse) }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="getAnswerType() == 'boolean'">
  <h3>{{ getStatTitle() }}</h3>
  <div class="white-fram"> <!-- cadre blanc -->
    <div class="flex-container">
      <div class="big-blue-synthesis">
        <span>{{ getQuantityOfTrue() }}</span>
        pros ont répondu "vrai"
      </div>
      <div class="percent-of-pros">
        <span>{{ getQuantityAnswers() * 100 / getTotalOfAnswers() }}</span>
        % des professionels ont répondu
      </div>
      <div class="collapse">{{ question.question }}<br>
        <span>Voici les différentes réponses reçues : </span>
        <div *ngFor="let reponse of infographic.answers">
          <span *ngIf="getAnswerToQuestion(reponse) || getAnswerToQuestion(reponse) == 0">{{ reponse.proName }}, from {{ reponse.country }} chose {{ getAnswerToQuestion(reponse) == 1 ? "true" : "false" }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
