<!--<div class="row">
  <form class="col s4" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container">
      <h1>Sign up</h1>
      <div class="row">
        <div class="input-field col s6">
          <input id="firstname" type="text" formControlName="firstname" [ngClass]="{invalid: isFieldInvalid('firstname')}">
          <label for="firstname" [errorsForm]="form" [errorsMessages]="{required: 'Il nous faut un prénom'}">Firstname</label>
        </div>
        <div class="input-field col s6">
          <input id="lastname" type="text" formControlName="lastname" [ngClass]="{invalid: isFieldInvalid('lastname')}">
          <label for="lastname" [errorsForm]="form">Lastname</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" formControlName="email" [ngClass]="{invalid: isFieldInvalid('email')}">
          <label for="email" [errorsForm]="form">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-btn col s12">
          <button type="submit" [disabled]="form.invalid" class="waves-effect waves-light btn">Update</button>
        </div>
      </div>
    </div>
  </form>
</div>
-->
