header
  position relative
  width 100%

  .brand-logo
    background-image url("/assets/images/logo-umi-154x48.png")
    background-size 100% 100%
    width (154 / 1.5) px
    height (48 / 1.5) px
    margin 16px 10px

  nav
    ul
      text-align center
