<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo left" routerLink="/"></a>
        <ul id="nav-mobile" class="right">
          <li><a class="dropdown-button" data-activates="language-dropdown">{{ 'LANG.'+translate.currentLang.toUpperCase() | translate }}<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a routerLink="/">{{ 'HEADER.HOME' | translate }}</a></li>
          <li><a routerLink="/discover-and-evaluate">{{ 'HEADER.DISC_EVAL' | translate }}</a></li>

          <!-- Not Authenticated -->
          <li *ngIf="!authService.isAuthenticated"><a routerLink="/signup">{{ 'HEADER.SIGN_IN' | translate }}</a></li>
          <li *ngIf="!authService.isAuthenticated"><a routerLink="/login">{{ 'HEADER.LOG_IN' | translate }}</a></li>

          <!-- Authenticated -->
          <li *ngIf="authService.isAuthenticated"><a (click)="logout()">{{ 'HEADER.LOG_OUT' | translate }}</a></li>
          <li *ngIf="authService.isAuthenticated && authService.isAdmin"><a routerLink="/admin">Admin</a></li>
          <li *ngIf="authService.isAuthenticated">
            <a materialize="sideNav" data-activates="account-sidenav" [materializeParams]="[{edge:'right', menuWidth: 500, draggable:true, closeOnClick:true}]">
              <i class="material-icons">account_circle</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<ul id="language-dropdown" class="dropdown-content">
  <li><a (click)="translate.use('fr')">{{ 'LANG.FR' | translate }}</a></li>
  <li class="divider"></li>
  <li><a (click)="translate.use('en')">{{ 'LANG.EN' | translate }}</a></li>
</ul>

<app-client-account-sidenav></app-client-account-sidenav>
