<div class="container">

  <div ngClass="{'cards': selectedViewBy === 'listThumbnail'}">
    <div class="flex-container">
      <!--<div class="innovation-item flex-item" *ngFor="invention in inventions">
           <!--ng-init="inventionCard=getInventionCard(invention, selectedLanguage)"

        <div class="picture">
          <img [src]="inventionCard.image" width="335" height="190" alt="" itemprop="image" ui-sref="invention.edit({inventionId:invention.id})" *ngIf="invention.status === INVENTION_STATE.EDITING || invention.status === INVENTION_STATE.SUBMITTED">
          <img [src]="inventionCard.image" width="335" height="190" alt="" itemprop="image" ui-sref="invention.infographic({inventionId:invention.id})" *ngIf="invention.status === INVENTION_STATE.EVALUATING || invention.status === INVENTION_STATE.EVALUATING_DONE">
        </div>

        <div class="caption">
          <h3 itemprop="name" ng-show="inventionCard.pitch.title">{{inventionCard.pitch.title}}</h3>
          <h3 itemprop="name" ng-show="!inventionCard.pitch.title">{{ 'INVENTION.LIST.EMPTY.TITLE' | translate }}</h3>
          <p itemprop="description" ng-show="inventionCard.pitch.summary">{{inventionCard.pitch.summary}}</p>
          <p itemprop="description" ng-show="!inventionCard.pitch.summary">{{ 'INVENTION.LIST.EMPTY.PITCH' | translate }}</p>
        </div>

        <div class="statut">
          <div class="editing" *ngIf="invention.status === INVENTION_STATE.EDITING">
            <i class="fa fa-pencil" aria-hidden="true"></i>{{ 'INVENTION.LIST.META.EDITED' | translate }}
          </div>

          <div class="submitted" *ngIf="invention.status === INVENTION_STATE.SUBMITTED">
            <i class="fa fa-clock-o" aria-hidden="true"></i>{{ 'INVENTION.LIST.META.SUBMITTED' | translate }}
          </div>

          <div class="evaluating" *ngIf="invention.status === INVENTION_STATE.EVALUATING">
            <i class="fa fa-clock-o" aria-hidden="true"></i>{{ 'INVENTION.LIST.META.EVALUATING' | translate }}
          </div>

          <div class="evaluating-done" *ngIf="invention.status === INVENTION_STATE.EVALUATING_DONE">
            <i class="fa fa-area-chart" aria-hidden="true"></i>{{ 'INVENTION.LIST.META.EVALUATING_DONE' | translate }}
          </div>

          <a href="" (click)="deleteInven:tion(invention)" title="{{ 'BTN.DELETE' | translate }}" class="trash">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </div>-->
    </div>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-primary btn-lg" (click)="createInnovation()">
      {{ 'BTN.CREATE_INNOVATION' | translate }}
    </button>
  </div>

  <div ng-include="'modules/invention/views/template.offers.html'"></div>

</div>
