<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a routerLink="/" appLogo logoMaxWidth="100" class="brand-logo left"><span>admin</span></a>
        <ul id="nav-mobile" class="right">
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Retour au site</a></li>
          <li><a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a></li>
          <li><a routerLink="./users" routerLinkActive="active">Users</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
