<div class="row container">
  <div class="col s12">
    <h1>Account Activation</h1>
    <p>
      Thank you for signing up at UMI !<br>
      You should have received an email from Karine. It may take a few minutes to come..<br>
      <br>
      We have to make sure your email address is valid to complete your registration.<br>
      For that, could you please write the code you just received in your email ?
    </p>
    <form class="col s12" novalidate [formGroup]="activationForm">
      <div class="row">
        <div class="input-field col s12">
          <input id="activationCode" type="text" formControlName="activationCode"
                 [ngClass]="{invalid: activationForm.get('activationCode').errors && activationForm.get('activationCode').touched}">
          <label for="activationCode" [attr.data-error]="errorsMessages['activationCode']">Code d'activation</label>
        </div>
      </div>
      <div class="row">
        <div class="input-btn col s12">
          <button id="menu" type="submit" class="waves-effect waves-light btn tooltipped"
                  [disabled]="activationForm.invalid">Sign up
          </button>
        </div>
      </div>
    </form>
    <p>
      You can also directly click on the activation link sent in the email.
    </p>
  </div>
</div>




