.caption
  opacity 1
  color #fff
  position absolute
  width 70%
  top 15%
  margin-top -3rem

  &.marged-top
    margin-top 14rem

  h3
    font-size 2rem

  h5
    font 1.5rem

  h3, h5
    text-shadow 2px 2px 2px black

  &.left-align
    left 10%

  &.right-align
    right 10%

