<div class="parallax-container">
  <div class="parallax" materialize="parallax">
    <img src="../../../assets/404-error/nymeria.gif">
  </div>
  <div class="caption left-align">
    <h3>{{ '404.TITLE.LEFT' | translate }}</h3>
    <h5 class="light grey-text text-lighten-3">{{ '404.TEXT.LEFT' | translate }}</h5>
  </div>
  <div class="caption right-align marged-top">
    <h3>{{ '404.TITLE.RIGHT' | translate }}</h3>
    <h5 class="light grey-text text-lighten-3">{{ '404.TEXT.RIGHT' | translate }}</h5>
  </div>
</div>