.caption
  color #fff
  position absolute
  width 70%
  top 10%

  &.marged-top
    margin-top 14rem

  h3
    font-size 2rem

  h3, h5
    text-shadow 2px 2px 2px black

  &.left-align
    left 10%

  &.right-align
    right 10%

  &.center-align
    left 50%
    transform translateX(-50%)
    text-align left


  &.big
    top inherit
    bottom 2%

    h3, h5
      margin 0

    h3
      font-size 10rem

    h5
      color #C0392B
      font 10rem
      margin-left 1.5rem
      margin-bottom -1rem
