<header>
  <div class="navbar-fixed">
    <nav [style.background-color]="edService.visual.primaryColor">
      <div class="nav-wrapper">
        <a class="brand-logo" [ngClass]="edService.visual.logoAlignment" routerLink="/">
          <ul class="nav-icons left">
            <app-nav-icon *ngIf="edService.edMode && edService.visual.logoAlignment !== 'left'"
                          (click)="edService.visual.logoAlignment = edService.visual.logoAlignment === 'center' ? 'left' : 'center'"
                          [icon]="'keyboard_arrow_left'"></app-nav-icon>
          </ul>
          <img src="../../../assets/images/fifi-icon-truecolor.png">
          <ul class="nav-icons right">
            <app-nav-icon *ngIf="edService.edMode && edService.visual.logoAlignment !== 'right'"
                          (click)="edService.visual.logoAlignment = edService.visual.logoAlignment === 'center' ? 'right' : 'center'"
                          [icon]="'keyboard_arrow_right'" [side]="right"></app-nav-icon>
          </ul>
        </a>

        <ul class="nav-icons" [ngClass]="edService.visual.logoAlignment === 'left' ? 'right' : 'left'">
          <app-nav-icon [route]="'/stories' + (edService.edMode ? '/edit' : '')" [icon]="'library_books'"></app-nav-icon>
          <app-nav-icon [route]="'/genealogy' + (edService.edMode ? '/edit' : '')" [icon]="'supervisor_account'"></app-nav-icon>
          <app-nav-icon [route]="'/games' + (edService.edMode ? '/edit' : '')" [icon]="'games'"></app-nav-icon>
          <app-nav-icon [route]="'/cards' + (edService.edMode ? '/edit' : '')" [icon]="'dashboard'"></app-nav-icon>
        </ul>
        <ul class="nav-icons" [ngClass]="edService.visual.logoAlignment === 'right' ? 'left' : 'right'">
          <li *ngFor="let lang of translate.getLangs()">
            <a materialize="tooltip" [materializeParams]="[{position: 'bottom', delay: 100, tooltip: 'LANG.'+lang.toUpperCase() | translate }]" (click)="_open = !_open; translate.use(lang)" *ngIf="_open"><img class="lang-flag" src="../../../assets/images/{{lang}}.svg"></a>
          </li>
          <li *ngIf="edService.edMode && _open"><a class="lang-flag" (click)="_open = !_open; addLang(lang)"><i class="material-icons">add_circle</i></a>
          </li>
          
          <app-nav-icon (click)="_open = !_open" [icon]="'language'"></app-nav-icon>
          <app-nav-icon [route]="'/drawings' + (edService.edMode ? '/edit' : '')" [icon]="'brush'"></app-nav-icon>
          <app-nav-icon [route]="'/shop' + (edService.edMode ? '/edit' : '')" [icon]="'shopping_cart'"></app-nav-icon>
          <app-nav-icon [route]="'/edit/' + actualRoute" [icon]="edService.edMode ? 'done' : 'colorize'"></app-nav-icon>
          <app-nav-icon [icon]="'account_circle'" materialize="sideNav" data-activates="accountSideNav" [materializeParams]="[{edge:'right', menuWidth: 500, draggable:true, closeOnClick:true}]"></app-nav-icon>
        </ul>
      </div>
      <!--
        <!-- Not Authenticated
        <li *ngIf="!authService.isAuthenticated"><a routerLink="/signup">{{ 'HEADER.SIGN_IN' | translate }}</a></li>
        <li *ngIf="!authService.isAuthenticated"><a routerLink="/login">{{ 'HEADER.LOG_IN' | translate }}</a></li>

        <!-- Authenticated
        <li *ngIf="authService.isAuthenticated"><a (click)="logout()">{{ 'HEADER.LOG_OUT' | translate }}</a></li>
        <li *ngIf="authService.isAuthenticated && authService.isAdmin"><a routerLink="/admin">Admin</a></li>
        <li *ngIf="authService.isAuthenticated"><a materialize="sideNav" data-activates="account-sidenav" [materializeParams]="[{edge:'right', menuWidth: 500, draggable:true, closeOnClick:true}]"><i class="material-icons">account_circle</i></a></li>
      -->
    </nav>
  </div>
</header>

<app-client-account-nav></app-client-account-nav>