header
  position relative
  width 100%

  .navbar-fixed
    z-index 1000

    nav
      transition 0.3s

      .nav-wrapper

        ul
          text-align center

          app-nav-icon
            transition 0.3s

        .brand-logo
          transform scaleX(-1) translateX(50%)

        .brand-logo, nav-icons
          transition 0.15s

        &.hide-on-small-and-down .brand-logo img
          height 4rem
          width auto

        &.hide-on-med-and-up .brand-logo img
          margin-top 0.4rem
          height 3rem
          width auto

#header-small-device-dropdown
  margin-top 4rem