<header>
  <div class="navbar-fixed">
    <nav [style.background-color]="edService.visual.primaryColor">

      <div class="nav-wrapper hide-on-small-and-down">

        <ul class="nav-icons" [ngClass]="edService.visual.logoAlignment === 'left' ? 'right' : 'left'">
          <app-nav-icon [route]="'/stories' + (edService.edMode ? '/edit' : '')" [icon]="'line_weight'"></app-nav-icon>
          <app-nav-icon [route]="'/genealogy' + (edService.edMode ? '/edit' : '')" [icon]="'supervisor_account'"></app-nav-icon>
          <app-nav-icon [route]="'/games' + (edService.edMode ? '/edit' : '')" [icon]="'games'"></app-nav-icon>
          <app-nav-icon [route]="'/cards' + (edService.edMode ? '/edit' : '')" [icon]="'dashboard'"></app-nav-icon>
        </ul>

        <a class="brand-logo" [ngClass]="edService.visual.logoAlignment" routerLink="/">
          <img src="../../../assets/images/fifi-icon-truecolor.png">
        </a>

        <ul class="nav-icons" [ngClass]="edService.visual.logoAlignment === 'right' ? 'left' : 'right'">
          <app-nav-icon [route]="'/drawings' + (edService.edMode ? '/edit' : '')" [icon]="'brush'"></app-nav-icon>
          <app-nav-icon [route]="'/shop' + (edService.edMode ? '/edit' : '')" [icon]="'shopping_cart'"></app-nav-icon>
          <app-nav-icon [route]="'/edit/' + actualRoute" [icon]="edService.edMode ? 'done' : 'colorize'"></app-nav-icon>
          <app-nav-icon [icon]="'account_circle'" materialize="sideNav" [materializeParams]="[{activates: 'account-sidenav', edge:'right', menuWidth: 500, draggable:true, closeOnClick:true}]"></app-nav-icon>
        </ul>

      </div>

      <div class="nav-wrapper hide-on-med-and-up">
        <ul class="nav-icons" [ngClass]="edService.visual.logoAlignment === 'left' ? 'right' : 'left'" >
          <app-nav-icon [icon]="'menu'" materialize="sideNav" data-activates="header-sidenav-smalldevice" [materializeParams]="[{menuWidth: 500, draggable:true, closeOnClick:true}]"></app-nav-icon>
        </ul>

        <a class="brand-logo" [ngClass]="edService.visual.logoAlignment" routerLink="/">
          <img src="../../../assets/images/fifi-icon-truecolor.png">
        </a>

        <ul class="nav-icons" [ngClass]="edService.visual.logoAlignment === 'right' ? 'left' : 'right'" >
          <app-nav-icon [icon]="'account_circle'" materialize="sideNav" data-activates="account-sidenav" [materializeParams]="[{edge:'right', menuWidth: 500, draggable:true, closeOnClick:true}]"></app-nav-icon>
        </ul>
      </div>

    </nav>
  </div>
</header>

<app-client-account-nav></app-client-account-nav>