<header>
  <div class="navbar-fixed">
    <nav [style.background-color]="edService.visual.primaryColor">

      <div class="nav-wrapper hide-on-small-and-down">

        <ul class="nav-icons" [ngClass]="edService.visual.logoAlignment === 'left' ? 'right' : 'left'">
          <app-nav-icon [route]="(edService.edMode ? '/edit' : '') + '/stories'" [icon]="'line_weight'"></app-nav-icon>
          <app-nav-icon [route]="(edService.edMode ? '/edit' : '') + '/genealogy'" [icon]="'supervisor_account'"></app-nav-icon>
          <app-nav-icon [route]="(edService.edMode ? '/edit' : '') + '/games'" [icon]="'games'"></app-nav-icon>
          <app-nav-icon [route]="(edService.edMode ? '/edit' : '') + '/cards'" [icon]="'dashboard'"></app-nav-icon>
        </ul>

        <a class="brand-logo" [ngClass]="edService.visual.logoAlignment" routerLink="/">
          <img src="../../../assets/images/fifi-icon-truecolor.png">
        </a>

        <ul class="nav-icons" [ngClass]="edService.visual.logoAlignment === 'right' ? 'left' : 'right'">
          <app-nav-icon [route]="(edService.edMode ? '/edit' : '') + '/drawings'" [icon]="'brush'"></app-nav-icon>
          <app-nav-icon [route]="(edService.edMode ? '/edit' : '') + '/shop'" [icon]="'shopping_cart'"></app-nav-icon>
          <app-nav-icon [route]="(edService.edMode ? '/edit' : '') + router.url" [icon]="edService.edMode ? 'done' : 'colorize'" (click)="edService.edMode = !edService.edMode"></app-nav-icon>
          <app-nav-icon [icon]="'account_circle'" materialize="sideNav" data-activates="account-sidenav" [materializeParams]="[{edge:'right', menuWidth: 500, draggable:false, closeOnClick:true}]"></app-nav-icon>
        </ul>

      </div>

      <div class="nav-wrapper hide-on-med-and-up">
        <ul class="nav-icons" [ngClass]="edService.visual.logoAlignment === 'left' ? 'right' : 'left'">
          <app-nav-icon [icon]="'menu'" class="dropdown-button" materialize="dropdown" data-activates='header-small-device-dropdown' [materializeParams]="[{belowOrigin:true, constrainWidth:false}]"></app-nav-icon>
        </ul>

        <a class="brand-logo" [ngClass]="edService.visual.logoAlignment" routerLink="/">
          <img src="../../../assets/images/fifi-icon-truecolor.png">
        </a>

        <ul class="nav-icons" [ngClass]="edService.visual.logoAlignment === 'right' ? 'left' : 'right'" >
          <app-nav-icon [route]="(edService.edMode ? '/edit' : '') + '/myAccount'" [icon]="'account_circle'"></app-nav-icon>
        </ul>
      </div>

    </nav>
  </div>
</header>

<app-client-account-nav></app-client-account-nav>

<ul id="header-small-device-dropdown" class="dropdown-content" [style.background]="edService.visual.primaryColor">
    <div class="row">

        <app-nav-icon [route]="'/stories' + (edService.edMode ? '/edit' : '')" [icon]="'line_weight'" [span]="'Stories'"></app-nav-icon>

        <app-nav-icon [route]="'/genealogy' + (edService.edMode ? '/edit' : '')" [icon]="'supervisor_account'" [span]="'Genealogy'"></app-nav-icon>

        <app-nav-icon [route]="'/games' + (edService.edMode ? '/edit' : '')" [icon]="'games'" [span]="'Games'"></app-nav-icon>

        <app-nav-icon [route]="'/cards' + (edService.edMode ? '/edit' : '')" [icon]="'dashboard'" [span]="'Cards'"></app-nav-icon>

        <app-nav-icon [route]="'/drawings' + (edService.edMode ? '/edit' : '')" [icon]="'brush'" [span]="'Drawings'"></app-nav-icon>

        <app-nav-icon [route]="'/shop' + (edService.edMode ? '/edit' : '')" [icon]="'shopping_cart'" [span]="'Shop'"></app-nav-icon>

    </div>
</ul>