footer
  padding 20px 30px
  font-weight 200
  letter-spacing .08em
  z-index 49
  text-align justify
  transition 0.3s

  .footer-copyright
    text-align center


div.right
  text-align right

div.left
  text-align left