footer
  padding 20px 30px
  font-weight 200
  letter-spacing .08em
  z-index 49
  text-align justify
  transition 0.3s

  .footer-copyright
    text-align center

app-client-footer-textbloc
  margin 1rem 0

.justified
  text-align justify