<!--<app-footer-modals></app-footer-modals>-->

<footer class="page-footer" [style.background-color]="edService.visual.primaryColor">
  <div class="container">
    <div class="row">

      <app-client-footer-textbloc class="col m4 s12 center justified" [style.color]="edService.visual.navTextColor"
                                  [titleTranslateKey]="'FOOTER.DONATE.TITLE'" [textTranslateKey]="'FOOTER.DONATE.TEXT'" [buttonTranslateKey]="'FOOTER.DONATE.BUTTON'" [route]="'/donate'">
      </app-client-footer-textbloc>

      <app-client-footer-textbloc class="col m4 s12 center justified" [style.color]="edService.visual.navTextColor"
                                  [titleTranslateKey]="'FOOTER.JOIN_US.TITLE'" [textTranslateKey]="'FOOTER.JOIN_US.TEXT'" [buttonTranslateKey]="'FOOTER.JOIN_US.BUTTON'" [route]="'/join-us'">
      </app-client-footer-textbloc>

      <app-client-footer-textbloc class="col m4 s12 center justified" [style.color]="edService.visual.navTextColor"
                                  [titleTranslateKey]="'FOOTER.CONTACT_ME.TITLE'" [textTranslateKey]="'FOOTER.CONTACT_ME.TEXT'" [buttonTranslateKey]="'FOOTER.CONTACT_ME.BUTTON'" [route]="'/contact'">
      </app-client-footer-textbloc>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy;2017 {{ 'FOOTER.COMPANY_NAME' | translate }} - {{ 'FOOTER.COPYRIGHTS' | translate }}
    </div>
  </div>
</footer>