<h4>{{ 'ACCOUNT.NOT.CONNECTED' | translate }}</h4>
<div class="divider"></div>
<br/>
<br/>
<form novalidate [formGroup]="userForm" (ngSubmit)="login(userForm)">
  <h6>{{ 'ACCOUNT.LOG_IN' | translate }} / {{ 'ACCOUNT.SIGN_IN' | translate }}</h6>
  <div class="row">
    <div class="input-field col s12">
      <input id="email" type="email" formControlName="email"
             class="validate" [ngClass]="{invalid: userForm.get('email').errors && userForm.get('email').touched}">
      <label for="email" [attr.data-error]="errorsMessages['email']">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password" type="password" formControlName="password"
             class="validate" [ngClass]="{invalid: userForm.get('password').errors && userForm.get('password').touched}">
      <label for="password" [attr.data-error]="errorsMessages['password']">Password</label>
    </div>
  </div>

  <div class="row">
    <button id="next" type="submit" [disabled]="userForm.invalid" [ngClass]="{disabled: userForm.invalid}">
        <img class="arrow" src="../../../../assets/images/arrow-right.svg" *ngIf="userForm.invalid" materialize="tooltip" [materializeParams]="[{position: 'bellow', delay: 100, tooltip: 'Vous devez remplir les champs correctement !'}]">
        <img class="arrow" src="../../../../assets/images/arrow-right.svg" *ngIf="!userForm.invalid">
    </button>
  </div>
</form>