<div class="container">


  <!--
    <ol class="breadcrumb">
        <li><a href="" ui-sref="service">{{ 'SERVICE.TITLE' | translate }}</a></li>
        <li class="active">{{ 'INVENTION.LIST.TITLE' | translate }}</li>
    </ol>

    <h1 class="text-center">{{ 'INVENTION.LIST.TITLE' | translate }}</h1>
  -->

  <div ng-if="inventions.length" style="display: flex; flex-flow: row wrap;" class="toolbars hidden">
    <ul class="toolbar-item">
      <li>
        <a href="" ng-click="chooseOrderBy('-', 'created')"
           ng-class="{active: selectedOrderBy === '-created'}">
          <!--{{ 'INVENTION.TOOLBAR.DATE_DESCENDING' | translate }}-->
        </a>
      </li>

      <li>
        <a href="" ng-click="chooseOrderBy('', 'created')"
           ng-class="{active: selectedOrderBy === 'created'}">
          <!--{{ 'INVENTION.TOOLBAR.DATE_ASCENDING' | translate }}-->
        </a>
      </li>

      <li>
        <a href="" ng-click="chooseOrderBy('', 'pitch.title')"
           ng-class="{active: selectedOrderBy === 'pitch.title'}">
          <!--{{ 'INVENTION.TOOLBAR.ALPHABETICAL_DESCENDING' | translate }}-->
        </a>
      </li>

      <li>
        <a href="" ng-click="chooseOrderBy('-', 'pitch.title')"
           ng-class="{active: selectedOrderBy === '-pitch.title'}">
          <!--{{ 'INVENTION.TOOLBAR.ALPHABETICAL_ASCENDING' | translate }}-->
        </a>
      </li>
    </ul>

    <ul class="toolbar-item">
      <li>
        <select class="form-control" ng-model="selectedFilterBy" ng-change="filterBy(selectedFilterBy)">
          <option value=""><!--{{'INVENTION.TOOLBAR.ALL_INNOVATIONS' | translate}}--></option>
          <option ng-value="INVENTION_STATE.EDITING" value="EDITING"><!--{{ 'INVENTION.LIST.META.EDITED' | translate }}--></option>
          <option ng-value="INVENTION_STATE.SUBMITTED" value="SUBMITTED"><!--{{ 'INVENTION.LIST.META.SUBMITTED' | translate }}--></option>
          <option ng-value="INVENTION_STATE.EVALUATING" value="EVALUATING"><!--{{ 'INVENTION.LIST.META.EVALUATING' | translate }}--></option>
          <option ng-value="INVENTION_STATE.EVALUATING_DONE" value="EVALUATING_DONE"><!--{{ 'INVENTION.LIST.META.EVALUATING_DONE' | translate }}--></option>
        </select>
      </li>
      <li ng-if="selectedFilterBy">
        <a href="" ng-click="reset()">
          <i class="fa fa-times"></i>
        </a>
      </li>
    </ul>

    <ul class="toolbar-item">
      <li>
        <a href="" ng-click="chooseViewBy('listThumbnail')"
           ng-class="{active: selectedViewBy == 'listThumbnail'}">
          <i class="fa fa-th"></i>
        </a>
      </li>
      <li>
        <a href="" ng-click="chooseViewBy('listDetails')"
           ng-class="{active: selectedViewBy == 'listDetails'}">
          <i class="fa fa-list"></i>
        </a>
      </li>
    </ul>
  </div>


  <div ng-class="{'cards': selectedViewBy === 'listThumbnail'}">
    <div class="flex-container">
      <div class="innovation-item flex-item"
           ng-repeat="invention in inventions | orderBy:selectedOrderBy | filter:selectedFilterBy:true"
           ng-init="inventionCard=getInventionCard(invention, selectedLanguage)">

        <div class="picture">
          <!--
          <img ng-src="{{inventionCard.image}}" width="335" height="190" alt="" itemprop="image" ui-sref="invention.edit({inventionId:invention.id})"
               ng-if="invention.status === INVENTION_STATE.EDITING || invention.status === INVENTION_STATE.SUBMITTED">

          <img ng-src="{{inventionCard.image}}" width="335" height="190" alt="" itemprop="image" ui-sref="invention.infographic({inventionId:invention.id})"
               ng-if="invention.status === INVENTION_STATE.EVALUATING || invention.status === INVENTION_STATE.EVALUATING_DONE">
          -->
        </div>

        <div class="caption">
          <h3 itemprop="name" ng-show="inventionCard.pitch.title"><!--{{inventionCard.pitch.title}}--></h3>
          <h3 itemprop="name" ng-show="!inventionCard.pitch.title"><!--{{ 'INVENTION.LIST.EMPTY.TITLE' | translate }}--></h3>
          <p itemprop="description" ng-show="inventionCard.pitch.summary"><!--{{inventionCard.pitch.summary}}--></p>
          <p itemprop="description" ng-show="!inventionCard.pitch.summary"><!--{{ 'INVENTION.LIST.EMPTY.PITCH' | translate }}--></p>
        </div>

        <div class="statut">
          <div class="editing" ng-if="invention.status === INVENTION_STATE.EDITING">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <!--{{ 'INVENTION.LIST.META.EDITED' | translate }}-->
          </div>

          <div class="submitted" ng-if="invention.status === INVENTION_STATE.SUBMITTED">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <!--{{ 'INVENTION.LIST.META.SUBMITTED' | translate }}-->
          </div>

          <div class="evaluating" ng-if="invention.status === INVENTION_STATE.EVALUATING">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <!--{{ 'INVENTION.LIST.META.EVALUATING' | translate }}-->
          </div>

          <div class="evaluating-done" ng-if="invention.status === INVENTION_STATE.EVALUATING_DONE">
            <i class="fa fa-area-chart" aria-hidden="true"></i>
            <!--{{ 'INVENTION.LIST.META.EVALUATING_DONE' | translate }}-->
          </div>

          <!--
          <a href="" ng-click="deleteInvention(invention)" title="{{ 'BTN.DELETE' | translate }}" class="trash">
            <i class="fa fa-trash-o"></i>
          </a>
          -->
        </div>

      </div>
    </div>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-primary btn-lg" ng-click="startProject()">
      <!--{{ 'BTN.CREATE_INNOVATION' | translate }}-->
    </button>
  </div>

  <div ng-include="'modules/invention/views/template.offers.html'"></div>

</div>
