a
  cursor pointer

.restore-btn
  margin 0 0.9rem 0 1.3rem
  transition 0.2s

  &:hover
    filter brightness(0.7)
    transition 0.2s

span.emptySpace
  color rgba(0,0,0,0)

.btn:hover
  filter brightness(0.85)
  transition 0.15s

.row
  text-align center

  .box
    border solid black 1px

  .inline
    line-height 2.5rem

    input
      outline none

      .left-align
        text-align left
