<div *ngIf="!_edService.edMode" class="slider" materialize="slider" height='500'
     [materializeParams]="[{full_width: true, transition:'400', interval:'5', indicators:true, height:'400px'}]">

  <ul class="slides inline">
    <li *ngFor="let slide of slides">
      <app-client-slider-slides [image]="slide.imageUrl" [title]="slide.title" [content]="slide.content" [textSide]="'left'"></app-client-slider-slides> <!-- TODO take data from server -->
    </li>
  </ul>
</div>

<div *ngIf="_edService.edMode" class="slider" materialize="slider" height='500'
     [materializeParams]="[{full_width: true, transition:'400', interval:'5', indicators:false, height:'400px'}]">
  <ul class="slides inline">
    <li>
      <app-client-slider-slides [image]="'../../../../assets/images/settings_img.svg'"></app-client-slider-slides>
    </li>
  </ul>

</div>